<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ink</title>
  <link rel="stylesheet" href="{{ .Style }}" />
  <style>{{ .ChromaCSS }}</style>
</head>

<body>
<h1>Ink</h1>

<div>
  <p>This is a quick and dirty introduction to Ink: a framework for 2D graphics in Go, focused on creative coding, and based on OpenGL.</p>

  <p><em>Disclaimer:</em> Although I've been working towards Ink for years, the project is still very young in many ways. There are many TODOs, bugs, and ugly APIs. I will rewrite and break and (hopefully) improve things over time.</p>


  <p>There's more that doesn't have examples here. Check out the <a href="https://godoc.org/github.com/buchanae/ink">docs</a>, the <a href="https://github.com/buchanae/ink/tree/master/sketches">sketches directory</a>, or just browse through <a href="https://github.com/buchanae/ink">the code</a>.</p>
</div>


<section>
  <h2>Usage</h2>

  <div>
    <p>You'll need <a href="https://golang.org/">Go</a> installed. These docs assume the reader is familiar with programming in Go.</p>

    <p>Ink relies on <a href="">GLFW</a>, which is built using CGO, so you'll probably need some libraries installed:</p>

    <p><strong>Linux: </strong> you'll need the build-essential, xorg-dev, and libglfw3-dev pacakges</p>

    <p><strong>Mac: </strong> you'll need xcode installed</p>

    <p><strong>Windows: </strong> untested</p>

    <p>Install ink:</p>
    <p><span class="incode">go get github.com/buchanae/ink</span></p>

    <p>(I'm <em>pretty</em> sure that should work, but if it doesn't please let me know by <a href="https://github.com/buchanae/ink/issues/new">filing a github issue</a>. If nothing else, you can clone the code and run <span class="incode">go install .</span> from the root directory.)</p>

    <p>Use the "ink" CLI to run a sketch file. This will open a window, draw the sketch, and watch for changes.</p>

    <p><span class="incode">ink example.go</span></p>
  </div>
</section>

{{ range .Examples }}
<section>
  <h2>{{ .Title }}</h2>
  <p>{{ .Description }}</p>

  <div class="split">
    <div class="left">
      <div class="code">{{ .Code }}</div>
    </div>
    <div class="right">
      <img src="{{ .Snapshot }}" width="400" />
    </div>
  </div>
</section>
{{ end }}

<section>
  <p>There's more that doesn't have examples here. Check out the <a href="https://godoc.org/github.com/buchanae/ink">docs</a>, the <a href="https://github.com/buchanae/ink/tree/master/sketches">sketches directory</a>, or just browse through <a href="https://github.com/buchanae/ink">the code</a>.</p>
</section>

</body>
</html>
